<h2>Happy Brolidays</h2>
<div class="grid">
	<div class="row-fluid show-grid">
		<!-- <div class="span3">
			<a href="/gift-a-shot">Gift A Shot</a>
		</div> -->
		<div class="span6">
			<a href="/party-stream">Party Stream</a>
		</div>
		<div class="span6">
			<a href="/upload">Send to Stream</a>
		</div>
		<!-- <div class="span4">
			<a href="">Leaderboards</a>
		</div> -->
	</div>
</div>