<p>To ensure no one outside of b/r has too much fun tonight, we require you to sign in with the code you received at the door.  Put in your code, your name, and your cell phone to get started!</p>

<form method="post">
	<input type="text" placeholder="Verification Code" class="span8" name="user[code]">
	<input type="text" placeholder="Name" class="span8" name="user[name]">
	<input type="text" placeholder="Cell #" class="span8" name="user[cell]">
	<input type="submit" value="Submit" class="btn">
</form>