<div class="grid">
	<div class="row-fluid show-grid">
		<% @messages.each do |message| %>
			<div class="span16">
				<% if message.image_url %>
					<img src="<%= message.image_url %>"/>
				<% else %>
					<%= message.message %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>